* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
}

.logo {
  margin-left: 30px;
}

.nav-links {
  display: flex;
}

.nav-liks-left {
  display: flex;
  gap: 30px;
  margin-right: 435px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.nav-liks-left a {
  color: black;
  text-decoration: none;
}

.nav-media-link-more {
  color: rgb(255, 72, 0);
}

.nav-links-right {
  display: flex;
  gap: 30px;
}
